/* Global styles */

body {
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

/* Header styles */

.main-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #323a81;
  color: #fff;
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 99%;
  z-index: 1;
}

.main-menu ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.main-menu li {
  margin-left: 1rem;
}

.main-menu a {
  color: #ffffff;
  text-decoration: none;
  padding: 0.5rem;
  transition: all 0.3s ease;
}

.main-menu a:hover {
  background-color: #9c9a9a;
  color: #333;
}

.sub-menu {
  position: relative;
  color: #ffffff;
  padding-top: 4.5rem;
  background-color: #b6abf4;
  padding-left: 6rem;
  }

.sub-menu h1{
  margin-top: 3rem;
}

.content h1{
text-align: center;
font-size: 2rem;
margin: -.5rem;
color: #3a24b8
}

.content{
  margin-left: 12rem;
  margin-right: 12rem;
  
}

.content li{
  margin:2em;
  text-align: center;
  font-size: 20px
}
/* Introduction section styles */

.intro {
  background-color: #eee;
  padding: 5rem 1rem;
  text-align: center;
}

.intro h1 {
  font-size: 3rem;
  padding: 2rem;
  margin: 1rem -1rem 0rem -1rem;
  background-color: #b6abf4;
  color: #fff;
}

.intro h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.intro p {
  font-size: 1.5rem;
  line-height: 1.5;
  max-width: 700px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  /* Mobile styles */
  
  .main-menu {
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
    height: auto;
  }
  
  .main-menu ul {
    flex-direction: column;
    margin: 0;
  }
  
  .main-menu li {
    margin: 0;
    margin-bottom: 1rem;
  }
  
  .intro {
    padding: 3rem 1rem;
  }
  
  .intro h1 {
    font-size: 2rem;
  }
  
  .intro p {
    font-size: 1.25rem;
  }
}
